<!DOCTYPE html>
<html>
  <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Independência Brasileira</title>
	<link rel="stylesheet" href="./index.css">
	<style>
		h1{
			color: blue;
		}
		h3{
			color: #b1bb5e;
		}
	</style>
  </head>
  <body>
	<h1> Independência Brasileira!</h1>

	<h3>"Quanto mais Portugal puxava a linha que o ligava ao Brasil, mais os nós se desatavam".</h3>

	<p>A Independência Brasileira foi algo marcante, no caso, o ponto de partida para um novo Brasil, um Brasil aberto a ideias e sem a opressão de Portugal, continuaria a evoluir continuamente com a "força brasileira".</p>

	<p>A Independência ocorreu 2 anos depois de um acontecimento importante chamado de a Revolução Liberal do Porto em 1820, e também por outros motivos, como a pressão de Portugal sobre os lucros e impostos brasileiros, o "Quinto dos Infernos"(Expressão utilizada pelos colonos da época para se referir ao Quinto, imposto que pegava sempre a quinta parte do ouro brasileiro, para Portugal) entre outras revoluções anteriores e os ideais iluministas de liberdade e república.</p>

	<p>A Revolução Liberal do Porto eclodiu em 1820 e foi organizada pela burguesia portuguesa inspirada em ideais liberais. Um dos grandes objetivos dos portugueses era o retorno do rei para Portugal. Na visão da burguesia portuguesa, Portugal deveria ser a sede do Império português.</p>
	<p>Outra reivindicação importante dos portugueses foi a exigência de restabelecimento do monopólio comercial sobre o Brasil. Essa exigência causou grande insatisfação no Brasil, uma vez que demonstrava a intenção dos portugueses em permanecer com os laços coloniais em relação ao Brasil.
	Assim o rei português decidiu voltar a Portugal, com ouro e diamantes e umas 4.000 pessoas, por causa da pressão de seu país.Com isso Pedro de Alcântara se tornou regente do país.</p>

	<h2>Quem é Pedro de Alcântara?</h2>

	<p>
	Esse é o nosso D. Pedro I, aquele que foi "responsável" pela independência brasileira.
	Com o seu famoso grito: "Independência ou Morte!", declarando assim a independência que os colonos
	tanto queriam.
	E daí em diante você já sabe!
	</p>

  </body>
</html>
